*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    transition: all .2s ease-in;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.main{
    position: relative;
    width: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid $primary-color;

    .appTitle{
        align-self: center;
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 2px;

        span{
            color: $primary-color;
            font-size: 20px;
        }

        .appMode{
            position: absolute;
            top: 20px;
            left: 20px;
            display: flex;
            padding: 5px;
            border-radius: 100%;
            cursor: pointer;
            transition: all .3s ease-in;
            
            

            i{
                align-items: center;
                justify-content: center;
                font-size: 20px;
                
                
            }
        }

    }

    .result-container{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;


        #calc{
            font-size: 17px;
            
        }

        #result{
            font-size: 40px;
        }
    }

    .key-container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        
        .row{
            display: flex;

            .key{
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                font-size: 18px;
                border-radius: 100%;
                user-select: none;
                transition: all .3s;
                
                
            

                &#division, &#multiply, &#sum, &#sub{
                    color: $primary-color;
                }

                &#equal{
                    background-color: $primary-color;
                    color: #fff;
                    box-shadow: 0 0 5px 5px #ff403948;
                }

            }

        }
    }
}